@charset "ISO-8859-1";

body {
	background-color: #E6ECF0;
}

*[role="form"] {
	background-color: #FFFFFF;
	padding: 5%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0
		rgba(0, 0, 0, 0.19);
	text-align: center;
	padding: 15px;
	margin: 0 auto;
	border-radius: 0.3em;
	background-color: #FFFFFF;
	margin-top:30px;
	margin-left:20px;
	maegin-rigth:50px;
}

*[role="form"] h3 {
	text-align: center;
	color: #000000;
	font-weight: bold;
	margin-bottom: 20px;
}

.register-container {
	margin-top: 5%;
	margin-bottom: 10%;
	 position : absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute; top : 20%; left : 50%; transform : translate( -50%,
	-50%);
	width: 700px;
	margin-right:10px;
}
.btnSubmit {
	width: 100px;
	height: 45px;
	border-radius: 2rem;
	padding: 1.5%;
	border: none;
	cursor: pointer;
	font-weight: bold;
	color: #fff;
	background-color: #1DA1F2;
	margin-top: 10px;
	margin-left: 10%;
	margin-bottom: 10px;
}